<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manage Your Invoices</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Invoice Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Manage Your Invoices</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="privacyPoliceInfo" style="display:none;">
        Service uses cookies files. I you want to use from this site you make agreement on using cookies.
        <button onclick="closePrivacyPolice()" type="button" class="btn btn-light btn-sm mx-3 my-1 privacyPoliceBtn">Ok. I see.</button>
    </div>
    <script>
        function closePrivacyPolice() {
            $('.privacyPoliceInfo').css("display", "none");
            $.cookie("privacyPolicy", "1", { path: "/", expires: 365 })

        }

        $(document).ready(function () {
            if ($.cookie("privacyPolicy") !== 1)
                $('.privacyPoliceInfo').css("display", "");
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
