@model IEnumerable<InvoiceManager.Models.Domains.Invoice>

@{
    ViewBag.Title = "Invoices";
}

<h1 class="mb-3">Invoices</h1>

<button class="btn btn-primary mb-3" onclick='window.location.href ="@Url.Action("Invoice","Home")"'>Add</button>

@if(Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Client</th>
                <th scope="col">Value</th>
                <th scope="col">Created date</th>
                <th scope="col">Payment date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var invoice in Model)
                {
            <tr>
                <td>               
                    <a class="font-weight-bold" href="@Url.Action("Invoice", "Home", new { id = invoice.Id })">@invoice.Title</a>
                </td>
                <td>@invoice.Client.Name</td>
                <td>$@invoice.Value</td>
                <td>@invoice.CreatedDate.ToString("dd-MM-yyyy")</td>
                <td>@invoice.PaymentDate.ToString("dd-MM-yyyy")</td>
                <td>
                    <button 
                            class="btn btn-danger btn-sm"
                            onclick="deleteInvoice('@invoice.Id', this)"
                    >
                    Delete
                    </button>
                </td>
            </tr>
                }
        </tbody>
    </table>
}
else
{
    <div> No Invoices to show.</div>
}

@section Scripts
{    
    <script type="text/javascript">
        function deleteInvoice(id, btn) {
            if (!confirm("Are you sure that you want to delete this invoice?")) {
                return;
            }

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Delete", "Home")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'
            });
        }
     
    </script>
}



